# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/screenshots/

# Allure
/test-reports/
/allure-results/
/allure-report/

# Optional
*.webm
*.zip